{%load static%}
<nav class="navbar navbar-dark p-3 " style="background-color: #e3f2fd;">
    <!-- Navbar content -->
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container p-5">
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#"><p> STORE IN ATTENTION</p>
                <p> JOIN OUR TEAM</p>
                <p>AUTHENTICITY</p>
                <p>SHARE YOUR LOVE</p>
                <a href="https://www.facebook.com/" style="text-decoration:none;" class="text-white p-2"><i class="fab fa-facebook-f"></i>  </a> 
                <a href="https://twitter.com/home" style="text-decoration:none;" class="text-white p-1"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/" style="text-decoration:none;" class="text-white p-1"><i class="fab fa-youtube"></i>  </a>
                <a href="https://www.instagram.com/accounts/login/" style="text-decoration:none;" class="text-white p-1"><i class="fab fa-instagram"></i></a>
            </a>
          </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link text-white" href="#">
           <p> OFFERS</p>
       <p> ELECTRONICS</p>
         <p>   ACCESSORIES</p>
          <p>  NEW ARRIVAL</p>
           <p> MAKEUP</p>
            </a>
          </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link text-white" href="#">
              <p>  CUSTOMER CARE</p>
               <p>HOW TO BUY</p>
               <p> Q & A</p>
               <p> SERVICES</p>
               <p> DELIVERY</p>



            </a>
          </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link text-white" href="#">
              <p>  CONTACT US</p>
               <p> FAQS</p>
               <p> SHIPPING & DELIVERY</p>
               <p> TERMS & CONDITIONS</p>
               <p> REFUND & RETURN POLICY</p>

            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>





<!--
<div class="" style="background-color: #e3f2fd;">
  <div class="row">
    <div class='col-sm-6 '>
      footer <br>
      footer <br>
      footer <br>
      
    </div>
    <div class='col-sm-2'>
      footer <br>
      footer <br>
      footer <br>
    </div>
    <div class='col-sm-2 '>
      footer <br>
      footer <br>
      footer <br>
    </div>
    <div class='col-sm-2'>
      footer <br>
      footer <br>
      footer <br>
    </div>
  </div>
</div>
-->