{%extends 'base.html'%}
{% block title_block%} All Orders{%endblock%}
{%block body_block %}
<div class='container mt-5'> 
    <h2 class='text-center text-success'><strong>Your Orders</strong></h2>
    <div class='row'>
        <div class='col-md-12'> 
            <div class='card mt-5' style='height:auto;'>
                <div classs='table-responsive'>
                    <table class='table'> 
                        <thead>
                            <tr>
                                <th scope='col' class='fw-bold'>#</th>
                                <th scope='col' class=' fw-bold'> Order ID</th>
                                <th scope='col' class=' fw-bold'>Products</th>
                                <th scope='col' class=' fw-bold'>Status</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <th scope='row'>
                                    {{forloop.counter}}
                                </th>
                                <td>
                                    <p> {{order.orderId}}</p>
                                </td>
                                <td>
                                    {% for item in order.orderitmes.all%}
                                        {{item}} 
                                    {%endfor%}
                                </td>
                                <td><button type="button" class="btn btn-warning btn-sm"><strong class='text-dark'> Processing Your Order</strong></button></td>
                                {%endfor%} 
                            </tr>
                            
                            
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
            <div class='col-md-12 my-5 text-center'>
                <button type="button" class="btn btn-success"><a href="{% url 'App_Shop:home'%}" style='text-decoration:none;' class='text-white'> Back to home</a></button>
            </div>
        
    </div>
</div>
{%endblock%}